name: Release stable

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'ci ignore')"
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: "Get version"
        id: metadata
        run: |
          javac -d . src/main/java/xxAROX/PresenceMan/Application/AppInfo.java
          echo "VERSION=$(java xxAROX.PresenceMan.Application.AppInfo)" >> $GITHUB_OUTPUT
          echo ${{ steps.metadata.outputs.VERSION }}

      - name: Build with Maven
        run: |
          mvn install:install-file -Dfile=./lib/discord-game-sdk4j-0.5.5.jar -DgroupId=discord-game-sdk4j -DartifactId=discord-game-sdk -Dversion=0.5.5 -Dpackaging=jar
          mvn -B package --file pom.xml

      - name: Rename JAR
        run: |
          cd target/
          cp Application-1.0-SNAPSHOT.jar Presence-Man-${{ steps.metadata.outputs.VERSION }}.jar
          cd ../

      - name: "Create Release"
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          draft: false
          automatic_release_tag: "v${{ steps.metadata.outputs.VERSION }}"
          prerelease: false
          title: "Release v${{ steps.metadata.outputs.VERSION }}"
          files: "target/Presence-Man-${{ steps.metadata.outputs.VERSION }}.jar.jar"

      - name: Release to public
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "v${{ steps.metadata.outputs.VERSION }}"
          name: "Release v${{ steps.metadata.outputs.VERSION }}"
          repository: "Presence-Man/releases"
          # note you'll typically need to create a personal access token
          # with permissions to create releases in the other repo
          token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
          files: "target/Presence-Man-v${{ steps.metadata.outputs.VERSION }}.jar"
