name: Release stable

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'ci ignore')"
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: "Get data"
        id: metadata
        run: |
          javac -d . src/main/java/xxAROX/PresenceMan/Application/AppInfo.java
          echo "JSON=$(java xxAROX.PresenceMan.Application.AppInfo)" >> $GITHUB_OUTPUT
          echo ${{ steps.metadata.outputs.JSON }}
          echo "VERSION=$(php -r 'json_decode("${{ steps.metadata.outputs.JSON }}", true)["version"]);')" >> $GITHUB_OUTPUT
          echo "CONTRIBUTORS=$(php -r 'json_decode("${{ steps.metadata.outputs.JSON }}", true)["contributors"] ?? []);')" >> $GITHUB_OUTPUT
          echo $VERSION
          echo ${{ steps.metadata.outputs.VERSION }}

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: "Create Release"
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          draft: false
          automatic_release_tag: "latest"
          prerelease: false
          title: "Latest release"
          files: "target/*-SNAPSHOT.jar"